.formfill {
  width: 65%;
  background-color: var(--bg);
  color: var(--content);
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 2% 4%;
  border: 1px solid var(--bg);
  border-bottom: 1px solid var(--content);
  outline: none;
  margin-bottom: 6%;
  text-align: left;
  position: relative;
}
.formfill:focus {
  border: 1px solid var(--content) !important;
}
input:focus ~ label,
input:valid ~ label {
  font-size: 14px;
  top: -29%;
  left: 14%;
  color: var(--epblue);
}
.inputerror {
  border-color: red;
}
.error {
  color: red;
  text-align: center;
}
.input-field {
  position: relative;
}
label {
  font-weight: 300;
  font-size: 22px;
  text-align: left;
  position: absolute;
  top: 10%;
  left: 15%;
  width: 100%;
  color: var(--content);
  transition: 0.2s all;
  cursor: text;
}
.custom-select {
  left: -8%;
  color: var(--content);
  width: auto;
  display: flex;
  position: relative;
  padding: 0;
  font-size: 32px;
  font-weight: 400;
  color: var(--epblue);
}
.custom-select select {
  display: none;
}
.select-selected {
  background-color: var(--bg);
  transition: 0.2s;
}
.select-selected:hover {
  color: var(--epblue);
  filter: brightness(1.2);
}
.select-selected:after {
  position: absolute;
  content: "\f078";
  font: normal normal normal 17px/1 FontAwesome;
  font-size: 28px;
  font-weight: 400;
  width: 0;
  height: 0;
  right: -8%;
  top: 2%;
  border: 4px solid transparent;
  border-color: transparent transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent transparent transparent;
}
.select-items div,
.select-selected {
  color: var(--content);
  padding-bottom: 4%;
  cursor: pointer;
}
.select-items {
  position: absolute;
  background-color: var(--bg);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  width: 6.5em;
}
.select-hide {
  display: none;
}
select::-ms-expand {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
  filter: brightness(1.3);
}
