.formfill {
  width: 65%;
  background-color: var(--bg);
  color: var(--content);
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 2% 4%;
  border: 1px solid var(--bg);
  border-bottom: 1px solid var(--content);
  outline: none;
  margin-bottom: 6%;
  text-align: left;
  position: relative;
}
.formfill:focus {
  border: 1px solid var(--content) !important;
}
input:focus ~ label,
input:valid ~ label {
  font-size: 14px;
  top: -29%;
  left: 14%;
  color: var(--epblue);
}
.inputerror {
  border-color: red;
}
.error {
  color: red;
  text-align: center;
}
.input-field {
  position: relative;
}
label {
  font-weight: 300;
  font-size: 22px;
  text-align: left;
  position: absolute;
  top: 10%;
  left: 15%;
  width: 100%;
  color: var(--content);
  transition: 0.2s all;
  cursor: text;
}
