nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--bgnav);
}
.nav-logo img {
  height: 50px;
}
.nav-logo-m {
  display: none;
  height: 50px;
}
.nav-logo-m img {
  height: 50px;
}
.nav-links-lout {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 250px;
}
.nav-links-lin {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 600px;
}
.nav-links-m {
  display: none;
  list-style: none;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .nav-links-lout {
    display: none;
  }
  .nav-links-lin {
    display: none;
  }
  .nav-links-m {
    display: flex;
  }
  .nav-logo-m {
    display: inline-block;
  }
  .nav-logo {
    display: none;
  }
}
