body{
background-color:#FFFFFF;
margin:0%;
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
a{
text-shadow:0px 0px 3px rgba(117, 117, 117, 0.12);
color:darkgrey;
display:inline;
font-size:22px;font-weight:300;
}
.logo{
padding-top:10%;padding-bottom:6%;
text-align:center;
}
.logo img{width:50%;}
.popup{
background-color:#FFFFFF;
width:28%;
margin:7em auto;
box-shadow:0px 6px 18px 1px rgba(0, 0, 0, 0.14);
}
.footer{padding-top:15px;padding-bottom:10px;}
.formfill{
width:76%;
color:rgb(38, 50, 56);
font-weight:300;font-size:18px;
letter-spacing:1px;
background:rgba(136, 126, 126, 0.04);
padding:2% 4%;
border:2px solid rgba(0, 0, 0, 0.02);
outline:none;
box-sizing:border-box;
margin-bottom:6%;
text-align:center;
}
.formfill:focus {border:2px solid rgba(0, 0, 0, 0.18) !important;  }
.error{color:red;text-align:center;}
.button{
cursor:pointer;
color:white;
background:#000000;
border:0;border-radius:2em;
padding-left:2em;padding-right:2em;padding-bottom:0.6em;padding-top:0.6em;
display:flex; 
justify-content:center;
margin:7em auto;
margin-top:0.75em;margin-bottom:2em;
font-size:18px;font-weight:400;
box-shadow:0 0 20px 1px rgba(0, 0, 0, 0.04);
opacity:0.6;
transition:0.3s;
}
.button:hover{opacity: 1}
.small{
text-shadow:0px 0px 3px rgba(117, 117, 117, 0.12);
color:darkgrey;
display:inline;
font-size:16px;font-weight:400;
text-decoration:none;
}
.link{
cursor:pointer;
color:black;
transition:0.3s;
text-decoration:none;
}
.link:hover{color:#1593eb}
.linkbad{
cursor:pointer;
color:black;
transition:0.3s;
}
.linkbad:hover{color:red}
.linkgood{
cursor:pointer;
color:black;
transition:0.3s;
}
.linkgood:hover{color:green}
.head{
background-color:white;
width:100%;
margin:none;margin-bottom:2%;
padding-bottom:1%;
box-shadow:0px 6px 18px 1px rgba(0, 0, 0, 0.14);
}
.head img{float:left;margin-top:2%;margin-bottom:1%;margin-left:10.5%;
}
.dashheading{
margin-top:0.5%;margin-bottom:1%;margin-left:10.5%;
font-size: 50px;font-weight:200;
color:black;
}
.mainpage{
background-color:#FFFFFF;
width:100%;
padding-top:1%;padding-bottom:0%;
margin-top:0px;margin-bottom:1%;
box-shadow:0px 6px 18px 1px rgba(0, 0, 0, 0.14);
}
.imgleft{
float: left;
margin-right:5%;margin-left:10.5%;margin-top:0;
width:28%;height:28%;transition:0.25s;
}
.imgright{
float: right;
margin-right:10.5%;margin-left:5%;margin-top:0;
width:28%;height:28%;transition:0.25s;
}
.textright{
padding-top:0.8%;
margin-right:10.5%;
color: darkgrey;
font-size:22px;font-weight:300;
}
.textleft{
padding-top:0.8%;
margin-left:10.5%;
color: darkgrey;
font-size:22px;font-weight:300;
text-align:right;
}
.clearfix::after{
content:"";
clear:both;
display:table;
}
.dropbtn{
background-color:white;
color:black;
padding:10px;
font-size:46px;
border:0;
cursor:pointer;
margin-top:35%;margin-bottom:0px;margin-right:10.5%;
transition:0.15s;
}
.dropdown{
position:relative;
display:block;
margin-right:7%;
}
.dropdown-content {
text-align:right;
display:none;
position:absolute;
right:0;top:0;
background-color:white;
min-width: 1100%;
z-index: 1;
margin-top:22px;margin-right:65px;margin-left:5%;
padding-top:33%;padding-bottom:33%;padding-right:33%;
}
.dropdown-content a{
color: black;
text-decoration: none;
font-size: 28px;font-weight: 300;
padding-left:2%;padding-right:2%;
}
.dropdown:hover .dropdown-content{display: block;}
.dropdown:hover .dropbtn{
background-color: white;
font-size: 48px;
}

.devicedropbtn{
background-color: white;
color: black;
border: 0;
cursor: pointer;
margin-top: 10px;
margin-bottom:0px;
transition: 0.3s;
}

.devicedropdown{
position: relative;
display: inline-block;
margin-left:360px;
}

.devicedropdown-content {
text-align: center;
display: none;
position: absolute;
right: 0;
background-color: #f9f9f9;
min-width: 30px;
z-index: 1;
margin-right:180px;
overflow-y: hidden;
}

.devicedropdown-content a{
color: black;
padding-top:0px;
text-decoration: none;
display: block;
margin:10px;
font-size: 24px;
font-weight: 300;
}

.devicedropdown:hover .devicedropdown-content{
display: block;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.deviceadd{
background-color: white;
color: black;
font-size: 32px;
font-weight: 300;
border: none;
cursor: pointer;
margin-top: 10px;
margin-bottom:0px;
transition: 0.3s;
padding:10px;
margin-left: 23%;
}

.deviceadd:hover{
color: green;
}

.reportg{
color: green;
padding-bottom: 20px;
font-size: 20px;
font-weight: 300;
text-align: center;
}

.reportb{
color: orange;
padding-bottom: 20px;
font-size: 20px;
font-weight: 300;
text-align: center;
}

.custom-select {
width:8em;
display:inline-block;
position: relative;
padding-right:0px;
padding-top:10px;
padding-bottom:0px;
font-size: 32px;
font-weight: 300;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.custom-select select {
display: none;
}

.select-selected {
background-color: white;
}

.select-selected:hover{
    color: #1593eb;
}

.select-selected:after {
position: absolute;
content: '\f078';
font: normal normal normal 17px/1 FontAwesome;
font-size: 32px;
font-weight: 300;
top: 14px;
right: 50px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: transparent transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
border-color: transparent transparent #fff transparent;
}

.select-items div,.select-selected {
color: black;
padding: 8px 16px;
cursor: pointer;
}

.select-items {
position: absolute;
background-color: white;
top: 100%;
left: 0;
right: 0;
z-index: 99;
width:7.5em;
}

.select-hide {
display: none;
}

select::-ms-expand {
display: none;
}

.select-items div:hover, .same-as-selected {
background-color: rgba(0, 0, 0, 0.1);
color:#1593eb;
}

.namedevice{
display:inline-block;
margin-left:10.5%;
font-weight:500;
font-size:32px;
padding-top:5px;
color:black;
}

.devicechange{
background-color: white;
display:inline-block;
color: darkgrey;
font-size: 28px;
font-weight: 300;
cursor: pointer;
transition: 0.3s;
padding-top:5px;
}
    
.devicechange:hover{
color: #1593eb;
}

.devicedelete{
background-color: white;
display:inline-block;
color: darkgrey;
font-size: 28px;
font-weight: 300;
cursor: pointer;
transition: 0.3s;
padding-top:5px;
}
    
.devicedelete:hover{
color: red;
}