body{
background-color:#1593eb;
margin:0%;
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
a{
text-shadow:0px 0px 3px rgba(117, 117, 117, 0.12);
color:darkgrey;
display:inline;
font-size:22px;font-weight:400;
}
.logo{
padding-top:10%;padding-bottom:6%;
text-align:center;
}
.logo img{width:50%;}
.popup{
background-color:#FFFFFF;
width:28%;
margin:7em auto;
padding-bottom:1%;
box-shadow:0px 12px 36px 2px rgba(0, 0, 0, 0.14);
}
.footer{padding-top:10px;padding-bottom:10px;}
.formfill{
width:76%;
color:rgb(38, 50, 56);
font-weight:400;font-size:18px;
letter-spacing:1px;
background:rgba(136, 126, 126, 0.04);
padding:2% 4%;
border:2px solid rgba(0, 0, 0, 0.02);
outline:none;
box-sizing:border-box;
margin-bottom:6%;
text-align:center;
}
.formfill:focus {border:2px solid rgba(0, 0, 0, 0.18) !important;}
.inputerror{box-shadow:0 0 5px red;}
.error{color:red;text-align:center;}
.button{
cursor:pointer;
color:white;
background:#000000;
border:0;
padding-left:2em;padding-right:2em;padding-bottom:0.6em;padding-top:0.6em;
display:flex; 
justify-content:center;
margin:7em auto;
margin-top:0.75em;margin-bottom:2em;
font-size:18px;font-weight:400;
box-shadow:0px 12px 36px 2px rgba(0, 0, 0, 0.04);
opacity:0.7;
transition:0.3s;
}
.button:hover{opacity: 1}
.small{
text-shadow:0px 0px 3px rgba(117, 117, 117, 0.12);
color:darkgrey;
display:inline;
font-size:16px;font-weight:400;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
outline:none;
}
.link{
cursor:pointer;
color:black;
transition:0.3s;
text-decoration:none;
}
.link:hover{color:#1593eb}
.linkbad{
cursor:pointer;
color:black;
transition:0.3s;
text-decoration:none;
}
.linkbad:hover{color:red}
.linkgood{
cursor:pointer;
color:black;
transition:0.3s;
text-decoration:none;
}
.linkgood:hover{color:green}
.head{
background-color:white;
width:100%;
margin:none;margin-bottom:2%;
padding-bottom:1%;
box-shadow:0px 12px 36px 2px rgba(0, 0, 0, 0.14);
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}
.headertext{
float:right;
margin-right:10.5%;margin-top:3%;
}
.headertext a{font-size:32px;padding-left:20px;}
.head img{float:left;margin-top:2%;margin-bottom:1%;margin-left:10.5%;height:60px;
}
.mainpage{
background-color:#FFFFFF;
width:79%;
padding-top:1%;padding-bottom:0%;padding-left:10.5%;padding-right:10.5%;
margin-top:0px;margin-bottom:1%;
box-shadow:0px 12px 36px 2px rgba(0, 0, 0, 0.14);
}
.imgleft{
float: left;
margin-right:5%;margin-top:0;
width:28%;height:28%;transition:0.25s;
}
.imgright{
float: right;
margin-left:5%;margin-top:0;
width:28%;height:28%;transition:0.25s;
}
.textright{
padding-top:0.8%;
color: darkgrey;
font-size:22px;font-weight:400;
}
.textleft{
padding-top:0.8%;
color:darkgrey;
font-size:22px;font-weight:400;text-align:right;
}
.clearfix::after{
content:"";
clear:both;
display:table;
}
.deviceadd{
background-color: white;
color: darkgrey;
font-size:32px;font-weight:400;
border:none;
cursor:pointer;
margin-top:0.5%;margin-bottom:0px;
transition:0.3s;
padding:0.4%;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}
.deviceadd:hover{color: green;}
.custom-select{
width:6.5em;
display:inline-block;
position:relative;
padding-top:0.25%;padding-bottom:0px;
font-size:32px;font-weight:400;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}
.custom-select select{display:none;}
.select-selected {background-color:white;}
.select-selected:hover{color: #1593eb;}
.select-selected:after {
position:absolute;
content:'\f078';
font:normal normal normal 17px/1 FontAwesome;
font-size:32px;font-weight:400;
width:0;height:0;right:15%;top:10%;
border:4px solid transparent;
border-color:transparent transparent transparent transparent;
}
.select-selected.select-arrow-active:after{border-color:transparent transparent #FFFFFF transparent;}
.select-items div,.select-selected{
color:black;
padding-bottom:4%;
cursor:pointer;
}
.select-items{
position:absolute;
background-color:white;
top:100%;left:0;right:0;
z-index:99;width:6.5em;
}
.select-hide{display: none;}
select::-ms-expand{display:none;}
.select-items div:hover, .same-as-selected{background-color:rgba(0, 0, 0, 0.1);color:#1593eb;}
.reportg{
color:green;
padding-bottom:1%;
font-size:20px;font-weight:400;
text-align:center;
}
.reportb{
color:red;
padding-bottom:1%;
font-size:20px;font-weight:400;
text-align:center;
}
.deviceinfo{
float:right;
}
.devicechange{
background-color:white;
display:inline-block;
color:darkgrey;
font-size:28px;font-weight:400;
cursor:pointer;
transition:0.3s;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}
.devicechange:hover{color: #1593eb;}
.devicedelete{
background-color:white;
display:inline;
color:darkgrey;
font-size:28px;font-weight:400;
cursor:pointer;
transition:0.3s;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
} 
.devicedelete:hover{color: red;}
.modal{
display:none;
position:fixed;
z-index:1;
padding-top:10px;
left:0;
top:0;
width:100%;
height:100%;
overflow:auto;
background-color:rgba(0,0,0,0.4);
}
.close {
color:darkgrey;
float:right;
margin-right:2%;
font-size:32px;
font-weight:1000;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}
.close:hover,.close:focus {
color:red;
text-decoration:none;
cursor:pointer;
}